.home{
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: #E4E9F7;
    transition: all 0.3s ease;
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: #383838;
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
.body.dark .home .text{
    color: #383838;
}